@model AcessoModel
@{
    ViewData["Title"] = "Apagar acesso";
}

<div class="text-center">
    <h3>Realmente deseja apagar o acesso (@Model.Destino)?</h3>

</div>
<div  class="text-md-center">
    <a class="btn btn-primary "  asp-controller="Acesso" asp-action="Index">Cancelar exclusão</a>
    <a class="btn btn-danger " asp-controller="Acesso" asp-action="Deletar" asp-route-id="@Model.Id">Confirmar exclusão</a>

</div>
