@{
    ViewData["Title"] = "Cadastrar morador";
}
<div class="text-center">
   
    <h1 class="display-4">Cadastrar morador</h1>

</div>

<form>
    <div class="form-group">
        <label for="nome">Nome</label>
        <input type="text" class="form-control" placeholder="Digite o nome do morador">
    </div>
    <div class="form-group">
        <label for="Rg">RG</label>
        <input type="text" class="form-control" placeholder="Digite o RG do morador">
    </div>
    <div class="form-group">
        <label for="cpf">CPF</label>
        <input type="text" class="form-control" placeholder="Digite o CPF do morador">
    </div>
    <div class="form-group">
        <label for="telefone">Telefone</label>
        <input type="text" class="form-control" placeholder="Digite o telefone do morador">
    </div>
    <div class="form-group">
        <label for="email">E-mail</label>
        <input type="email" class="form-control" placeholder="Digite o e-mail do morador">
    </div>
    <div class="form-group">
        <label for="apartamento">Apartamento</label>
        <input type="text" class="form-control" placeholder="Digite o apartamento do morador">
    </div>




    <button type="submit" class="btn btn-primary">Salvar</button>
    <a class="btn btn-secondary" asp-controller="Morador" asp-action="Index" role="button">Voltar</a>
</form>