@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo!</h1>
    <p>Sistema para Gestão de Condomínio</p>
    <div class="card-deck">
        <div class="card">
            <img src="./css/Img_Acesso.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">CONTROLE DE ACESSOS</h5>
            </div>
           
        </div>
        <div class="card">
            <img src="./css/Comunicado.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">COMUNICADOS</h5>
            </div>
        </div>
        <div class="card">
            <img src="./css/Encomendas.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">ENCOMENDAS</h5>
            </div>
           
        </div>
    </div>
</div>
